#sidebar {
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.chart {
    width: 100% !important;
}

#lineChart {
    height: 200px !important;
}

#pieChart1,
#pieChart2 {
    height: 300px !important;
}
.custom-gradient-bg {
    background: #F7E6CA !important;
    color: #4E3B2A !important;
}